
    <h1>User Profile</h1>
    <div id="profile-container">
        <p><strong>Name:</strong> <span id="user-name"></span></p>
        <p><strong>Email:</strong> <span id="user-email"></span></p>
        <p><strong>Address:</strong> <span id="user-address"></span></p>
        <p><strong>Phone Number:</strong> <span id="user-phone"></span></p>
        <p><strong>Date of Birth:</strong> <span id="user-dob"></span></p>
        <p><strong>Admin:</strong> <span id="user-admin"></span></p>
    </div>
    <script src="../js/profile.js"></script>

